/* src/styles/GroupsPage.css */

.groups-list {
  padding: 20px;
}

.search-input {
  padding: 8px;
  margin-bottom: 20px;
  width: calc(100% - 120px);
}

.all-groups-btn {
  padding: 8px 16px;
  background-color: #007a33;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.group-item {
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}
